.main {

  & .categories {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 56px;
    margin-bottom: 88px;

    & a {
      width: calc(100% / 4 + 60px);
      margin: 0;
      display: block;
      text-decoration: none;
    }
  }
}