.admin-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
    column-gap: 40px;

  & .card {
    width: calc(100% / 4 - 30px);
    margin: 0;
    position: relative;

    & .delete-icon {
      padding: 5px;
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: white;
      border-radius: 30%;

      &:hover {
        border: 1px solid rgb(255, 130, 150);
      }
    }
  }
}

@media (max-width: 1300px) {
  .admin-categories {
    row-gap: 40px;
    column-gap: 24px;

    & .card {
      width: calc(100% / 3 - 20px);
    }
  }
}

@media (max-width: 990px) {
    .admin-categories {
      row-gap: 24px;
      column-gap: 16px;

      & .card {
        width: calc(100% / 2 - 20px);
      }
    }
  
}

@media (max-width: 640px) {
  .admin-categories {
      & .card {
        width: 100%;
      }
    }
}