.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  column-gap: 40px;
  margin-bottom: 88px;

  & .card {
    min-width: calc(100% / 4 - 30px);
    margin: 0;
   }
  }

@media (max-width: 1300px) {
  .category {
  column-gap: 24px;

  & .card {
    width: calc(100% / 3 - 20px);
   }
  }
}

@media (max-width: 990px) {
  .category {
  row-gap: 24px;
  column-gap: 16px;

  & .card {
    width: calc(100% / 2 - 20px);
   }
  }
}

@media (max-width: 640px) {
  .category {
  margin-bottom: 32px;

  & .card {
    width: 100%;
   }
  }
}