.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 10%;
  width: 100%;
  background-color: rgb(255,72,90);
  color: #fff;
  font-size: 20px;
  position: sticky;
  bottom: 0;
  flex-wrap: wrap;
  
  & a {
    color: #fff;

    &:hover {
      color:rgb(229, 210, 255)
    }
  }
  & .rs-logo {
    width: 100px;
  }
}