body {
  margin: 0;
  background-image: url('./assets/img/bg.png');
  background-size: cover;
  background-position: center;
  background-position-y: 20%;
  font-family: sans-serif;
}

.page-title {
  font-size: 40px;
  color: rgb(63, 57, 63);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}