.button {
  width: fit-content;
  min-width: fit-content;
  padding: 8px 32px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: rgb(252, 84, 101);
  }
  &:active {
    transform: translateY(2px);
  }
}

.icon-button {
  background-color: rgb(255,72,90);
  padding-top: 0;

  &::after {
    content: url('https://image.flaticon.com/icons/png/24/3039/3039356.png');
    position: relative;
    left: 8px;
    top: 4px;
  }
}

.button-primary {
  background-color: rgb(255,72,90);
}

.button-secondary {
  background-color: none;
  color: #7033ff;
  border: 1px solid #7033ff;
  transition: all 400ms;

  &:hover {
    background-color: #7033ff;
    color: #fff;
  }
}

@media (max-width: 460px) {
  .button {
    width: 100%;
    padding: 6px 16px;
    font-size: 14px;
  }
}