.card {
  background-color: white;
  border-radius: 20px;
  cursor: pointer;

  & .card-front {
    display: flex;
    flex-direction: column;
  }

  & .card-image {
    height: 200px;
    border-radius: 20px;
  }
}